#content {
    overflow: hidden;
    width: 3200px;
    position:relative;
    top:0;
    left:-70px;
 
}
#content .post {
  list-style: none;
  float: left;
  margin: 0 auto;

}
ul {
  font-size: 0;
}

li {
    display: inline-block;
}






