/*アコーディオン*/
/*生産*/
	div#container_a{
		width:500px;
		margin:10px auto;
	}
	div#item_a{
		background:#6699CC;
		color:#333;
		text-align:center;
		padding:10px;
		cursor:pointer;
	}
	div#contents_a{
		display:none;
		padding:10px;
		height:110px;
		border:solid 1px #d6dddf;
	}
	div#contents_a p{
		margin:10px 0;
		border-bottom:dashed 1px #d6dddf;
	}

/*電子情報*/
	div#container_b{
		width:500px;
		margin:10px auto;
	}
	div#item_b{
		background:#6699CC;
		color:#333;
		text-align:center;
		padding:10px;
		cursor:pointer;
	}
	div#contents_b{
		display:none;
		padding:10px;
		height:110px;
		border:solid 1px #d6dddf;
	}
	div#contents_b p{
		margin:10px 0;
		border-bottom:dashed 1px #d6dddf;
	}

/*電気エネルギー*/
	div#container_c{
		width:500px;
		margin:10px auto;
	}
	div#item_c{
		background:#6699CC;
		color:#333;
		text-align:center;
		padding:10px;
		cursor:pointer;
	}
	div#contents_c{
		display:none;
		padding:10px;
		height:110px;
		border:solid 1px #d6dddf;
	}
	div#contents_c p{
		margin:10px 0;
		border-bottom:dashed 1px #d6dddf;
	}
