/* ページ全体　CSS*/
html{
	height: 100%;
	min-height: 100%;
	background-color: #efefef;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-attachment:　fixed;
}
body {
	background-attachment:　fixed;
	background-color: #efefef;
	min-height: 100%;
	overflow-x:hidden;
	margin:0px;
	padding:10px;
	color:#666;
	line-height: 20px;
<<<<<<< HEAD
	font-family: "メイリオ",Meiryo,"ＭＳ Ｐゴシック",Osaka,"ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro"
=======
	font-family: "メイリオ","Meiryo","ＭＳＰゴシック","Osaka","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro";
>>>>>>> 93a9922a59295fac4d975e9bf0c0a12b6a3b5bae
}
div#slideshow {
	margin-top: 5px;
	margin-bottom: 10px;
}
img.slide{
	height: 200px;
}
div#content {
	margin-bottom: 10px;
}

/*ログインフォーム*/
div#form {
<<<<<<< HEAD
	background-color: #ffffcc;
	margin: 1px;
=======
	background-color: #c7e68a;
	color: #000;
	padding: 5px;
>>>>>>> 93a9922a59295fac4d975e9bf0c0a12b6a3b5bae
}

/* トップページ　CSS*/
div#infotitle {
	padding: 10px;
	color: #fff;
	background: #39f;
	font-size: 15px;
}
#box{
overflow-x:scroll;
height:200px;
}
div#infomation {
	margin : 0px ;
 	padding : 0px ;
  background-color : white ;
}
img.infotitle{
	width: 300px　;
	width: auto;
	height: 30px ;
}

/*ゼミ情報ページ CSS*/
div#semiphoto {
	margin-top: 20px;
}
div#incidents{
	margin-top: 20px;
	text-align: center;
}
div#semiinfo {
	margin-top: 20px;
}

/*行事予定　CSS*/
div#scedule{
	margin-top: 20px;
}
div#sceduleimg{
	text-align :center
}
div#scedulepdf{
	text-align : center
}

/*レポート状況*/
div#reportinfo {
	margin-top: 10px;
	margin-bottom:  10px;
}

/*カレンダー*/
div#pagetitle {
	margin-top: 10px;
	margin-bottom: 10px;
}

/*行事記録*/
<<<<<<< HEAD
=======
img.entrance{
	margin-bottom: 10px;
}
p.memory {
	font-size: 15px;
 }
p.subject {
	font-size: 20px;
	}
>>>>>>> 93a9922a59295fac4d975e9bf0c0a12b6a3b5bae
div#incident_grid　{
	margin-top: 20px;
	margin-bottom: 20px;
}
div#incidents　{
	margin-top: 20px;
	text-align: center;
}
div#pageanchor {
	width: 150px;
	height: 150px;
}

div#pageanchor{
	text-align: center;
}
