body {
	width:100%;
	margin:0;
	padding:0;
	color:#666;
	font-family: "ƒƒCƒŠƒI", Meiryo, "Hiragino Kaku Gothic Pro", "ƒqƒ‰ƒMƒmŠpƒS Pro W3", "‚l‚r ‚oƒSƒVƒbƒN", "Lucida Grande", "Lucida Sans Unicode", Arial, Verdana, sans-serif;
	line-height: 18px;
	background: white;
}


div#infomation{
	margin-top:5%;
}

div#box{
  	overflow: scroll;

	height:250px;
	background-color: white;
}
div#maincontents{
	margin-top:5%;
	float: left;
}