body {
	width:100%;
	margin:0;
	padding:0;
	color:#660;
	font-family: "ƒƒCƒŠƒI", Meiryo, "Hiragino Kaku Gothic Pro", "ƒqƒ‰ƒMƒmŠpƒS Pro W3", "‚l‚r ‚oƒSƒVƒbƒN", "Lucida Grande", "Lucida Sans Unicode", Arial, Verdana, sans-serif;
	line-height: 18px;
	background: #E7E6E6;
}