body {
	width:100%;
	margin:0;
	padding:0;
	background: #FFFFFF;
	color:#666;
	font-family: "ƒƒCƒŠƒI", Meiryo, "Hiragino Kaku Gothic Pro", "ƒqƒ‰ƒMƒmŠpƒS Pro W3", "‚l‚r ‚oƒSƒVƒbƒN", "Lucida Grande", "Lucida Sans Unicode", Arial, Verdana, sans-serif;
	line-height: 18px;
}

#box{

	overflow:scroll;
	height:200px;
}
#infomation{
	margin-top:10px;
	margin-bottom:10px;
}
#menu{
	margin-top:10px;
	margin-bottom:10px;
}
#calendar{
	font-size 0;
	margin-top:10px;
	margin-bottom:10px;
	margin-left:0;
}


