body {
	width:100%;
	margin:0;
	padding:0;
	color:#666;
	font-family: "Meiryo, "Hiragino Kaku Gothic Pro", "�q���M�m�p�S Pro W3", "�l�r �o�S�V�b�N", "Lucida Grande", "Lucida Sans Unicode", Arial, Verdana, sans-serif;
	line-height: 18px;
	background: #C0C0C0;
}
