body {
	width:100%;
	margin:0px;
	padding:10px;
	color:#666;
	font-family: "���C���I", Meiryo, "Hiragino Kaku Gothic Pro", "�q���M�m�p�S Pro W3", "�l�r �o�S�V�b�N", "Lucida Grande", "Lucida Sans Unicode", Arial, Verdana, sans-serif;
	line-height: 10px;
	background: #C0C0C0;
}

div#slideshow {
	margin-bottom: 10px;
}

div#
