.select { border-bottom:solid 1px #000; padding-bottom:5px; }
#home {
margin:0 auto;
position:relative;
}

#home img {
position:absolute;
left:0;
top:0;
}
#slide {
margin:0 auto;
position:relative;
height:300px;
width:500px;
}

#slide img {
position:absolute;
left:0;
top:0;
}

#slide2 {
margin:0 auto;
position:relative;
height:300px;
width:500px;
}

#slide2 img {
position:absolute;
left:0;
top:0;
}

#slide3 {
margin:0 auto;
position:relative;
height:300px;
width:500px;
}

#slide3 img {
position:absolute;
left:0;
top:0;
}
#slide4 {
margin:0 auto;
position:relative;
height:300px;
width:500px;
}

#slide4 img {
position:absolute;
left:0;
top:0;
}
#slide5 {
margin:0 auto;
height:300px;
width:500px;
position:relative;
}

#slide5 img {
position:absolute;
left:0;
top:0;
}
 ul {
  font-size: 0;
}

 li {
    display: inline-block;
}