body {
	width:100%;
	margin:0px;
	padding:10px;
	color:#666;
	font-family: "メイリオ",Meiryo,"ＭＳ Ｐゴシック",Osaka,"ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro"
	line: 10px;
	background: white;
}

/* トップ　スライド　*/
div#slideshow {
	margin-bottom: 10px;
}
img.slide{
	width: 200px　;
	width: auto;
	height: 200px ;
}

/* 新着情報　*/
img.infotitle {
	width: 300px;
	width: auto;
	height: 30px;
}
div#infomation {
	margin : 0px ;
 	padding : 0px ;
 	border : 1px solid ;
  background-color : white ;
}
#box　{
	overflow:scroll;
	height:200px;
}

/*ゼミ情報*/
div#semiphoto {
	margin-top: 20px;
}
div#semiinfo {
	margin-top: 20px;
}

/*レポート状況*/
div#reportinfo {
	margin-top: 20px;
}

/*行事記録*/
div#incident_grid　{
	margin-top: 20px;
	margin-bottom: 20px;
}
div#incidents　{
	margin-top: 20px;
	text-align: center;
}

/*行事予定*/
div#scedule　{
	margin-top: 20px;
}

/*カレンダー*/
div#pagetitle {
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 30px;
}
